/* Phone number custom style */
.PhoneInput {
  border: 1px solid #d7dadf;
  margin-top: 6px;
  height: 48px;
}

.PhoneInput .PhoneInputCountry {
  background-color: #d7dadf;
  padding-right: 14px;
  padding-left: 14px;
}

.PhoneInput .PhoneInputInput {
  outline: none;
  height: 100%;
}
.PhoneInput .PhoneInputCountryIcon {
  min-height: 25px;
  min-width: 25px;
  width: 25px;
  border-radius: 100%;
}

.PhoneInput .PhoneInputCountryIconImg {
  border-radius: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.PhoneInput .PhoneInputCountryIcon--border {
  background-color: transparent;
  box-shadow: none;
}

.PhoneInput--focus
  .PhoneInputCountrySelect:focus
  + .PhoneInputCountryIcon--border {
  border: none;
  box-shadow: none;
}

.PhoneInput--focus .PhoneInputCountrySelect option:hover {
  background-color: #d7dadf !important;
  color: #dc2626;
}

.PhoneInputInput {
  color: #101828;
  font-weight: 400;
  font-size: 16px;
}

.Error {
  border: 1px solid #dc2626;
}
.Error .PhoneInputCountry {
  border-right: 1px solid #dc2626;
}
